body{
    width: 100%;
/*    margin-top: 50px;*/
    position: relative;
}
/* Strona główna */
.front{
    background: url('../img/pexels1.jpg') center center no-repeat scroll;
   min-height: 100vh;
    overflow-x: hidden;
    }
#txt {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.birthday-picker select
{
  display: inline-block;
}
.form-horizontal{
    background-color: white;
    min-height: 100vh;
    border-radius: 20px;
    border: 1px solid black;
}
.error {
    color: red;
}
/* Header */
.head{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
}
/* Center */
.stomach {
	background-color: white;
    width: 100%;
    max-height: 100vh;
    margin-right: 0px;
    padding-right: 0px;
    text-align: justify;
    margin-top: 20px;
}
/* Footer*/
.foot {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
}

